--no-index
tensorflow==2.17.0
# waymo-open-dataset-tf-2-12-0==1.6.4

torch==2.7.1
torchvision==0.22.1

tqdm
numpy
shapely
lightning
matplotlib
scikit-learn

-f https://data.pyg.org/whl/torch-2.7.0+cu126.html
torch_geometric==2.6.1
torch-scatter==2.1.2
torch-cluster==1.6.3